# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Docker
*.log
docker-compose.override.yml

# Data
src/data/raw/*.csv
src/data/*.zip
src/data/processed/*.parquet

# IDEs
.vscode/
.idea/

# OS
.DS_Store